{% extends "applications/dashboard.html" %}
  {% block content-panel  %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">App Manager</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-sm-1"  for="group_id" >子系统:</label>
                        <div class="col-sm-3">
                             <select id='subsys_id' class="form-control">
                                    <option value ="all">所有</option>
                                     {% for sys in subsys %}
                                    <option value ="{{ sys.id }}">{{ sys.name }} </option>
                                     {% endfor %}
                            </select>
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_statu">业务域:</label>
                        <div class="col-sm-3">
                              <select id='middleware' class="form-control">
                                                    <option value ="all">所有</option>
                              </select>
                        </div>
                        <div class="col-sm-4" style="text-align:left;">
                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>       
        <!-- <table id="tb_departments"></table> -->
    
        <div >
        <!--
        <div id="toolbar">
            <div class="form-inline" role="form">
               <button id="add" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">新增</button>
            </div>
        </div>
        -->
         <div id="toolbar" class="btn-group">
            <button id="add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-default" data-toggle="modal" data-target="#delModal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>

        <table id = "tb1" 
             data-toggle="table"
             data-show-columns="true" 
             data-toolbar="#toolbar" 
             data-search="true" 
             data-show-toggle="true"
             data-pagination="true"
             data-url="/apps/app_mgr_data"
             data-reorderable-columns="true">
            <thead>
            <tr>
                  <th data-field="app_name" data-sortable="true">应用</th>
                  <th data-field="app_package" data-sortable="true">应用包名</th>
                  <th data-field="app_path" data-sortable="true">安装路径</th>
                  <th data-field="subsys_name" data-sortable="true">子系统</th>
                  <th data-field="app_host" data-sortable="true">服务器</th>
                  <th data-field="memo" data-sortable="true">描述</th>
            </tr>
            </thead>
        </table>                                                                                                                                                               
    </div>                   

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
   
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					模态框（Modal）标题
				</h4>
			</div>
			<div class="modal-body">
				在这里添加一些文本
                                <p>
                                <a href="http://192.168.91.132:9000/admin">新增</a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                        模态框（Modal）标题
                                </h4>
                        </div>
                        <div class="modal-body">
                                在这里添加一些文本
                                <p>
                                <a href="http://192.168.91.132:9000/admin">修改</a>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="button" class="btn btn-primary">
                                        提交更改
                                </button>
                        </div>
                </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                        模态框（Modal）标题
                                </h4>
                        </div>                                                                                                                                                 
                        <div class="modal-body">                                                                                                                               
                                在这里添加一些文本                                                                                                                             
                                <p>                                                                                                                                            
                                <a href="http://192.168.91.132:9000/admin">删除</a>                                                                                            
                        </div>                                                                                                                                                 
                        <div class="modal-footer">                                                                                                                             
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭                                                                        
                                </button>                                                                                                                                      
                                <button type="button" class="btn btn-primary">                                                                                                 
                                        提交更改                                                                                                                               
                                </button>                                                                                                                                      
                        </div>                                                                                                                                                 
                </div><!-- /.modal-content -->                                                                                                                                 
        </div><!-- /.modal -->                                                                                                                                                 
</div>                                                                                                                                                                         
<script>

var $table = $('#tb1');
$("select#subsys_id").on("change",function(){
    var data = []
    var $table = $('#tb1');
    var gid = $('select#subsys_id').val();
    $.ajax({
    url: "/apps/app_mgr_data",
    data: {
        selected_gid : gid
    },
    type: "GET",
    dataType : "json", 
    
    success: function(data) {
        //$table.bootstrapTable({data: data});
        $table.bootstrapTable('load', data);
    }, error: function( xhr, status, errorThrown ) {                                                                                                                           
        alert( "Sorry, there was a problem!" );                                                                                                                                
        console.log( "Error: " + errorThrown );                                                                                                                                
        console.log( "Status: " + status );                                                                                                                                    
        console.dir( xhr );                                                                                                                                                    
    },                                                                                                                                                                         
                                                                                                                                                                               
    })                                                                                                                                                                         
});                                                                                                                                                                        
/**                                                                                                                                                                               
$(function () {
        var data = [{'app_name':'test'}]
        //$table.bootstrapTable({data: data });
        $table.bootstrapTable('load', data);
    });
**/
</script>     
{% endblock %}

