{% ifequal session_role_id 1 %}
<ul class="nav nav-pills nav-stacked">
    <li role='presentation' class="active"><a href="/">Dashborad</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li>
		<a href="#user-manager" data-toggle="collapse" class="list-group-item"><strong>用户管理</strong></a>
		<div id="user-manager" class="collapse list-group">
            <a href="/user_manager/user_add" class="list-group-item"><small>添加用户</small></a>
            <a href="/user_manager/usergroup_add" class="list-group-item"><small>添加用户组</small></a>
            <a href="/user_manager/user_list" class="list-group-item"><small>查看用户</small></a>
            <a href="/user_manager/usergroup_list" class="list-group-item"><small>查看用户组</small></a>
        </div>
    </li>
    <li>
		<a href="#perm-manager" data-toggle="collapse" class="list-group-item"><strong>权限管理</strong></a>
        <div id="perm-manager" class="collapse list-group">
                <a href="/perm/parent_menu_add" class="list-group-item"><small>权限父菜单添加</small></a>
                <a href="/perm/parent_menu_list" class="list-group-item"><small>权限父菜单列表</small></a>
        </div>
    </li>
    <li>
        <a href="#kvm-manager" data-toggle="collapse" class="list-group-item"><strong>KVM管理</strong></a>
        <div id="kvm-manager" class="collapse list-group">
            <a href="/kvm_manager/add_host" class="list-group-item"><small>添加宿主机</small></a>
            <a href="/kvm_manager/host_list" class="list-group-item"><small>宿主机列表</small></a>
        </div>
    </li>
    <li>
        <a href="#asset" data-toggle="collapse" class="list-group-item"><strong>资产管理</strong></a>
        <div id="asset" class="collapse list-group">
            <a href="/asset/add_host" class="list-group-item"><small>添加服务器</small></a>
            <a href="/asset/add_network" class="list-group-item"><small>添加网络设备</small></a>
            <a href="/asset/add_storage" class="list-group-item"><small>添加存储设备</small></a>
            <a href="/asset/host_list" class="list-group-item"><small>服务器列表</small></a>
            <a href="/asset/network_list" class="list-group-item"><small>网络设备列表</small></a>
            <a href="/asset/storage_list" class="list-group-item"><small>存储设备列表</small></a>
        </div>
    </li>
    <li>
        <a href="#saltkey_manager" data-toggle="collapse" class="list-group-item"><strong>SALTKEY管理</strong></a>
        <div id="saltkey_manager" class="collapse list-group">
            <a href="/saltkey_manager/accepted_list" class="list-group-item"><small>已认证</small></a>
            <a href="/saltkey_manager/unaccepted_list" class="list-group-item"><small>未认证</small></a>
        </div>
    </li>
    <li>
        <a href="#salt_module" data-toggle="collapse" class="list-group-item"><strong>SALT模块执行</strong></a>
        <div id="salt_module" class="collapse list-group">
            <a href="/salt_module/add_modules" class="list-group-item"><small>模块添加</small></a>
            <a href="/salt_module/module_list" class="list-group-item"><small>模块执行列表</small></a>
        </div>
    </li>
    <li>
        <a href="#cobbler" data-toggle="collapse" class="list-group-item"><strong>装机中心</strong></a>
        <div id="cobbler" class="collapse list-group">
            <a href="/cobbler/install" class="list-group-item"><small>装机参数</small></a>
            <a href="/cobbler/install_list" class="list-group-item"><small>cobbler system列表</small></a>
        </div>
    </li>
    <li>
        <a href="#file_manager" data-toggle="collapse" class="list-group-item"><strong>文件管理</strong></a>
        <div id="file_manager" class="collapse list-group">
            <a href="/file_manager/file_upload" class="list-group-item"><small>文件上传</small></a>
            <a href="/file_manager/upload_list" class="list-group-item"><small>文件上传列表</small></a>
            <a href="/file_manager/file_push" class="list-group-item"><small>文件分发</small></a>
        </div>
    </li>
    <li>
        <a href="#audit" data-toggle="collapse" class="list-group-item"><strong>审计</strong></a>
        <div id="audit" class="collapse list-group">
            <a href="/audit/command_log" class="list-group-item"><small>命令审计</small></a>
            <a href="/audit/cobbler_log" class="list-group-item"><small>装机记录</small></a>
            <a href="/audit/login_log" class="list-group-item"><small>用户登入记录</small></a>
        </div>
    </li>
  </ul>
{% endifequal %}

{% ifequal session_role_id 0 %}
<ul class="nav nav-pills nav-stacked">
    <li role='presentation' class="active"><a href="/">Dashborad</a></li>
</ul>
<ul class="nav nav-sidebar">
	{% for k,v in nav.items %}
    <li>
        <a href="#{{k}}" data-toggle="collapse" class="list-group-item"><strong>{{k}}</strong></a>
        <div id="{{k}}" class="collapse list-group">
			{% for sub in v %}
            <a href={{sub.url}} class="list-group-item"><small>{{sub.name}}</small></a>
			{% endfor %}
        </div>
    </li>
	{% endfor %}
  </ul>
{% endifequal %}
