<div class="pull-left">
<small>总共</small><span class="badge">{{pt}}</span><small>条数据,当前第</small><span class="badge">{{page}}</span><small>页,总共</small><span class="badge">{{pn}}</span><small>页</small>
</div>
<nav>
  <ul class="pagination pagination-sm pull-right">
    <li><a href="?page=1&search={{search}}">首页</a></li>
    <li><a href="?page={{ppn}}&search={{search}}">上一页</a></li>
{% for pagenum in pr %}
    <li><a href="?page={{pagenum}}&search={{search}}">{{pagenum}}</a></li>
{% endfor %}
    <li><a href="?page={{npn}}&search={{search}}">下一页</a></li>
    <li><a href="?page={{pn}}&search={{search}}">尾页</a></li>
  </ul>
</nav>
