{% extends 'hosts/dashboard.html' %}

{% block content-panel %}
<div class="col-md-3">

    <div class="panel panel-default panel-left">
        主机组
      <div class="panel-body">
        <ul id="group-list" class="list-group">

          <li class="list-group-item borderless">
            <span class="badge">{{ request.user.bind_hosts.select_related.count }}</span>
            未分组主机
          </li>
          {% for group in  request.user.host_groups.select_related %}
            <li class="list-group-item borderless">
                <input onclick="CheckAllToggle(this)" data="host-group" type="checkbox" value="{{ h.id }}">
                <a  data='group' class="a-pointer">
                    {{ group.name }}
                    <span class="badge">{{ group.bindhosttouser_set.select_related.count }}</span>

                </a>

                <ul class="list-group hide">
                    {% for h in group.bindhosttouser_set.select_related %}
                    <li class="list-group-item list-tree"><span>-- </span><input data="bind-host" type="checkbox" value="{{ h.id }}">{{ h.host.hostname }}</li>
                    {% endfor %}
                </ul>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
</div>

<div class="col-md-9">
    <div class="panel panel-default panel-right">
      <div class="panel-body">

          <textarea name="cmd" class="form-control" rows="3" placeholder="输入要执行的命令..."></textarea>
          <br/>
          <button type="button" class="btn btn-success pull-right" onclick="SubmitTask('multi_cmd')">执行命令</button>

          <div id="err-msgs"></div>
      </div>
</div>

        <div class="row">
            </div>
        <div class="row col-lg-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="order_no"  class="label-control">申请单：</label>
                                    <select id='order_no' class="form-control">
                                    <option value =""></option>
                                              <option value ="123456">all</option>
                                  </select>
                                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">查看部署日志</button>
            </form>
            dfdfdf

       </div>

{% endblock %}

{% block bottom-js %}
    <script type="text/javascript">
     $("select#order_no").on("change",function(){
      var order_no_v = $('select#order_no').val();
      alert(order_no_v)
     });
     $(document).ready(function(){
         $("#group-list a[data='group']").click(function(){
             $(this).nextAll().toggleClass("hide");

         });//end #group-list li[href='group']"

     });//end doc ready


    function CheckAllToggle(ele){

       if(ele.checked){//把它下面所有的主机都 全选
            $(ele).next().next().children().children("input").prop("checked",true);
       }else{

            $(ele).next().next().children().children("input").prop("checked",false);

       }

    }
    function SubmitTask(task_type){

        if (task_type == 'multi_cmd'){
            FormVerification(task_type);

        }

    }
    function FormVerification(task_type){
        var err_list = [];
        var data_list = {};
        if (task_type == 'multi_cmd'){
            var selected_host = VerifyHostSelection();
            data_list['selected_hosts'] = selected_host;
            var cmd_text = $.trim($("textarea[name='cmd']").val());
            data_list['cmd'] = cmd_text;
            data_list['task_type'] = task_type;

            if (selected_host.length == 0){
                err_list.push(['验证失败',"未选择任何主机!"])
            }
            if (cmd_text.length == 0){
                err_list.push(['验证失败',"未输入要执行的命令!"])
            }
        }


        if (err_list.length>0){
             $("#err-msgs").html(" ");
            $.each(err_list,function(index,item){
                var err_msg = "<p style='color:red;'>" + index + ". " + item[1] + "</p>";
                $("#err-msgs").append(err_msg);
            })

        }else{
             $("#err-msgs").html(" ");
            //提交任务
            data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val();
            $.post("{% url 'submit_task' %}", data_list, function(callback){
                console.log(callback);
            });//end post

        }
    }

    function VerifyHostSelection(){
        var selected_hosts = [];
        var all_hosts =  $("input[data='bind-host']");
        $.each(all_hosts, function(index,ele){
            if(ele.checked){
                selected_hosts.push($(ele).val());
            }
        });//end each
      return selected_hosts;
    }
    </script>
{% endblock %}
